body {
  margin: 0;
  padding: 0;
  font-family:fantasy , sans-serif;
}

* {
  list-style: none;
}

header h1,
header ul {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 140px;
  background: #8b4513;
  position: fixed;
  top: 0;
  z-index: 10;
}

.h-store-title {
  display:flex;
  padding-top:16px;
  padding-left: 16px;
  
}

header img {
  width: 120px;
  height: 80px;
  margin-left: 14px;
}

header h1 {
  font-size:56px;
}

header ul {
  display: flex;
 }

 header nav {
  width: 400px;
  margin-left: auto;
  padding-bottom: 10px;
 }

.btn {
  color:white;
  font-weight: bold;
  padding: 15px 20px 10px;
  text-decoration:none;
  height: 100%;
  /* line-height: 1.8; */
}

nav a {
  margin-bottom:10px;
  
}

.btn:hover {
  opacity: 0.7;
  background: burlywood;
}

.main {
  background-image: url("rose-back.png");
  height: 600px;
  position: relative; 

}

.bg-opacity{
  background: rgba(255, 255, 255, .7);

  width:100%;
  height: 100%;
  position: absolute;
  top:0;

}

.info {
  display: flex;
  flex-direction:column;

}

.store-title h1 {
  font-size: 48px;
  margin-bottom:16px;
}

.store-title h2 {
  text-shadow: 3px 5px white;
  font-family: 'TsukuARdGothic-Regular',sans-serif;
  color:olive;
}

.store-title {
  margin-top: 160px;
  margin-bottom: 50px;

}

.about-us h1 {
  margin-bottom: 5px;
}

.about-us p {
  margin-top:0;
  display: inline-block;
  text-align: left;
}

.menu {
  width: 100%;
  margin: 0 auto;
}

.menu img {
  width: 360px;
  padding-top: 30px;
}

.menu-list {
  display: flex;
  padding-bottom: 30px;
  width: 70%;
  margin: 0 auto;
}

.menu-list ul {
  padding-left: 0;
}

.thai {
  padding-left: 50px;
}

footer {
  background: #8b4513;
  height: 140px;
  /* opacity: 0.6; */
  display:flex;
}

footer img {
  width: 160px;
  align-self: center;
  padding-left:30px;
}

footer p {
  align-self: flex-end;
  margin-right: 30px;
  margin-left: auto;
  color: white;
  font-size: 28px;
}

section {
  text-align: center;
}
